body {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: green;
  margin: 0;
  padding: 0;
  background-color: black;
}

button {
  background-color: black;
  border: 1px solid green;
  color: green;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  position: fixed;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid green;
  background-color: black;
  z-index: 3;
}

#record {
  flex-direction: column;
}

#dub {
  flex-direction: column;
}

.modal {
  border: 1px solid green;
  background-color: black;
  flex-direction: column;
  padding: 20px;
  width: calc(100vw * 0.5);
  height: 500px;
  position: absolute;
  z-index: 2;
  top: 101px;
  left: 25%;
}

.modal-top-enter {
  top: -400px;
}

.modal-top-enter-active {
  top: 100px;
  transition: top 500ms;
}

.modal-top-exit {
  top: 100px;
}

.modal-top-exit-active {
  top: -440px;
  transition: top 500ms;
}

.modal-left-enter {
  left: -500px;
}

.modal-left-enter-active {
  left: 25%;
  transition: left 500ms;
}

.modal-left-exit {
  left: 25%;
}

.modal-left-exit-active {
  left: -550px;
  transition: left 500ms;
}
