@font-face {
  font-family: 'AddCityboy';
  src: url('../fonts/AddCityboyNormal.woff2') format('woff2'),
    url('../fonts/AddCityboyNormal.woff') format('woff'),
    url('../fonts/AddCityboyNormal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Art Greco';
  src: url('../fonts/ArtGreco.woff2') format('woff2'),
    url('../fonts/ArtGreco.woff') format('woff'),
    url('../fonts/ArtGreco.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CapitalisTypOasis';
  src: url('../fonts/CapitalisTypOasisMedium.woff2') format('woff2'),
    url('../fonts/CapitalisTypOasisMedium.woff') format('woff'),
    url('../fonts/CapitalisTypOasisMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Argos George Contour';
  src: url('../fonts/ArgosGeorgeContour.woff2') format('woff2'),
    url('../fonts/ArgosGeorgeContour.woff') format('woff'),
    url('../fonts/ArgosGeorgeContour.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Eat your heart out';
  src: url('../fonts/Eatyourheartout.woff2') format('woff2'),
    url('../fonts/Eatyourheartout.woff') format('woff'),
    url('../fonts/Eatyourheartout.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'diel-Regular';
  src: url('../fonts/diel-Regular.woff2') format('woff2'),
    url('../fonts/diel-Regular.woff') format('woff'),
    url('../fonts/diel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ExtraBlur';
  src: url('../fonts/ExtraBlur.woff2') format('woff2'),
    url('../fonts/ExtraBlur.woff') format('woff'),
    url('../fonts/ExtraBlur.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Emilio 20';
  src: url('../fonts/Emilio20.woff2') format('woff2'),
    url('../fonts/Emilio20.woff') format('woff'),
    url('../fonts/Emilio20.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'El&Font Bubble';
  src: url('../fonts/ElFontBubble.woff2') format('woff2'),
    url('../fonts/ElFontBubble.woff') format('woff'),
    url('../fonts/ElFontBubble.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleinsThreePixel';
  src: url('../fonts/KleinsThreePixel.woff2') format('woff2'),
    url('../fonts/KleinsThreePixel.woff') format('woff'),
    url('../fonts/KleinsThreePixel.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'wassimo graffiti';
  src: url('../fonts/wassimograffiti.woff2') format('woff2'),
    url('../fonts/wassimograffiti.woff') format('woff'),
    url('../fonts/wassimograffiti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fat Wandals PERSONAL USE';
  src: url('../fonts/FatWandalsPERSONALUSE.woff2') format('woff2'),
    url('../fonts/FatWandalsPERSONALUSE.woff') format('woff'),
    url('../fonts/FatWandalsPERSONALUSE.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Grid Fracture';
  src: url('../fonts/Grid-Fracture-.woff2') format('woff2'),
    url('../fonts/Grid-Fracture-.woff') format('woff'),
    url('../fonts/Grid-Fracture-.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gas Mask Warriors';
  src: url('../fonts/GasMaskWarriors.woff2') format('woff2'),
    url('../fonts/GasMaskWarriors.woff') format('woff'),
    url('../fonts/GasMaskWarriors.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'KleinsThreeFS';
  src: url('../fonts/KleinsThreeFS.woff2') format('woff2'),
    url('../fonts/KleinsThreeFS.woff') format('woff'),
    url('../fonts/KleinsThreeFS.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mionta';
  src: url('../fonts/Mionta.woff2') format('woff2'),
    url('../fonts/Mionta.woff') format('woff'),
    url('../fonts/Mionta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mainstream PERSONAL USE ONLY';
  src: url('../fonts/MainstreamPERSONALUSEONLY.woff2') format('woff2'),
    url('../fonts/MainstreamPERSONALUSEONLY.woff') format('woff'),
    url('../fonts/MainstreamPERSONALUSEONLY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Movie Poster Personal Use';
  src: url('../fonts/MoviePosterPersonalUse.woff2') format('woff2'),
    url('../fonts/MoviePosterPersonalUse.woff') format('woff'),
    url('../fonts/MoviePosterPersonalUse.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Olde English';
  src: url('../fonts/OldeEnglish-Regular.woff2') format('woff2'),
    url('../fonts/OldeEnglish-Regular.woff') format('woff'),
    url('../fonts/OldeEnglish-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Opiated BRK';
  src: url('../fonts/OpiatedBRK.woff2') format('woff2'),
    url('../fonts/OpiatedBRK.woff') format('woff'),
    url('../fonts/OpiatedBRK.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OptimusPrinceps';
  src: url('../fonts/OptimusPrinceps.woff2') format('woff2'),
    url('../fonts/OptimusPrinceps.woff') format('woff'),
    url('../fonts/OptimusPrinceps.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RaseBasic';
  src: url('../fonts/RaseBasic.woff2') format('woff2'),
    url('../fonts/RaseBasic.woff') format('woff'),
    url('../fonts/RaseBasic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spire Alt';
  src: url('../fonts/SpireAlt.woff2') format('woff2'),
    url('../fonts/SpireAlt.woff') format('woff'),
    url('../fonts/SpireAlt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'row-Regular';
  src: url('../fonts/row-Regular.woff2') format('woff2'),
    url('../fonts/row-Regular.woff') format('woff'),
    url('../fonts/row-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SANTOS DUMONT';
  src: url('../fonts/SANTOSDUMONT.woff2') format('woff2'),
    url('../fonts/SANTOSDUMONT.woff') format('woff'),
    url('../fonts/SANTOSDUMONT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('../fonts/NeueHaasDisplay-Black.woff2') format('woff2'),
    url('../fonts/NeueHaasDisplay-Black.woff') format('woff'),
    url('../fonts/NeueHaasDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sans Poster Bold JL';
  src: url('../fonts/SansPosterBoldJL.woff2') format('woff2'),
    url('../fonts/SansPosterBoldJL.woff') format('woff'),
    url('../fonts/SansPosterBoldJL.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plasmatica Open';
  src: url('../fonts/PlasmaticaOpen-Italic.woff2') format('woff2'),
    url('../fonts/PlasmaticaOpen-Italic.woff') format('woff'),
    url('../fonts/PlasmaticaOpen-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Univox';
  src: url('../fonts/Univox-Regular.woff2') format('woff2'),
    url('../fonts/Univox-Regular.woff') format('woff'),
    url('../fonts/Univox-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Spoken PERSONAL USE ONLY';
  src: url('../fonts/SpokenPERSONALUSEONLY.woff2') format('woff2'),
    url('../fonts/SpokenPERSONALUSEONLY.woff') format('woff'),
    url('../fonts/SpokenPERSONALUSEONLY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Zimbra';
  src: url('../fonts/Zimbra-Bold.woff2') format('woff2'),
    url('../fonts/Zimbra-Bold.woff') format('woff'),
    url('../fonts/Zimbra-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SPEW';
  src: url('../fonts/SPEW.woff2') format('woff2'),
    url('../fonts/SPEW.woff') format('woff'),
    url('../fonts/SPEW.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Thorne Shaded';
  src: url('../fonts/ThorneShaded.woff2') format('woff2'),
    url('../fonts/ThorneShaded.woff') format('woff'),
    url('../fonts/ThorneShaded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'pix Chicago';
  src: url('../fonts/pixChicago.woff2') format('woff2'),
    url('../fonts/pixChicago.woff') format('woff'),
    url('../fonts/pixChicago.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
