:root {
  --bg-grey: rgb(213, 211, 211);
  --bg-grey-80: rgba(213, 211, 211, 0.8);
  --bg-black: #151515;
  --blue-glow: #1affff;
  --blue-glow-80: rgba(26, 255, 255, 0.8);
  --red-text: #ed3714;
  --blue-text: #00a8f1;
  --Cytone: 'Cytone-Regular', sans-serif;
  --glow: 0 0 10px var(--blue-glow), 0 0 5px var(--blue-glow) inset;
}

body {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  background-color: var(--bg-grey);
  overflow-x: hidden;
}

iframe {
  border: none;
}

button {
  background-color: var(--bg-grey);
  border-style: solid;
  padding: 10px;
}

p {
  margin: 0;
}

ul {
  padding-left: 1em;
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  box-sizing: border-box;
}

#dub-button {
  position: absolute;
  top: 5px;
  left: 5px;
}

#header {
  position: fixed;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid green;
  background-color: black;
  z-index: 3;
}

.modal {
  border: 1px solid green;
  background-color: black;
  flex-direction: column;
  padding: 20px;
  width: 100vw;
  height: 520px;
  position: absolute;
  z-index: 2;
  top: 101px;
  left: 0;
}

.modal-top-enter {
  top: -400px;
}

.modal-top-enter-active {
  top: 100px;
  transition: top 500ms;
}

.modal-top-exit {
  top: 100px;
}

.modal-top-exit-active {
  top: -440px;
  transition: top 500ms;
}

.modal-left-enter {
  left: -1500px;
}

.modal-left-enter-active {
  left: 150px;
  transition: left 800ms ease;
}

.modal-left-exit {
  left: 0;
}

.modal-left-exit-active {
  left: -1500px;
  transition: left 800ms;
}

.modal-right-enter {
  right: 1500px;
}

.modal-right-enter-active {
  right: 0px;
  transition: right 800ms ease;
}

.modal-right-exit {
  right: 0;
}

.modal-right-exit-active {
  right: 1500px;
  transition: right 800ms;
}

/* ------------------- */
/*    Image Editor     */
/* ------------------- */

.editor-wrapper {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  background-color: var(--bg-black);
  box-sizing: border-box;
}

.editor-canvas-wrapper {
  height: 100vh;
  width: 50vw;
  position: relative;
  background-image: url('../assets/bg_images/recorddisplaybox.png');
  background-size: contain;
  background-position: center;
}

#editor-header {
  height: 3em;
  width: auto;
}

.canvas {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0, -50%);
}

#canvas-bg {
  z-index: 20;
  pointer-events: none;
}

#bg-texture {
  pointer-events: none;
  z-index: 50;
}

#canvas-fg {
  z-index: 30;
}

#centerlabel {
  z-index: 5;
  pointer-events: none;
}

#centerlabel-texture {
  pointer-events: none;
  z-index: 10;
}

.layer-selector {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  color: black;
}

#colors {
  flex-direction: column;
}

#template,
#center-label,
#stickers,
#stamps {
  height: 3.5em;
  width: auto;
}

#template:hover,
#center-label:hover,
#stickers:hover,
#stamps:hover {
  cursor: pointer;
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  width: 50vw;
  max-width: 50vw;
  color: black;
  padding-left: 1em;
}

.controls-drawer {
  max-width: 100%;
  height: 24em;
  display: flex;
  column-gap: 1em;
}

.assets-container,
.controls-container {
  display: flex;
  height: 90%;
  width: 25vw;
  box-sizing: border-box;
}

.assets-container-wrapper {
  background-image: url('../assets/bg_images/asset_box.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 22em;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assets-container {
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
  overflow-y: scroll;
  padding-top: 1em;
  height: 84%;
  width: 80%;
}

.controls-container {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.cl_color_selector {
  width: 15em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.track-info-input {
  display: flex;
  max-width: 100%;
}

.track-info-input div:first-child {
  display: flex;
  flex-direction: column;
}

.font-and-size {
  display: flex;
  flex-direction: column;
}

.permanent {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1em;
  margin-left: 50%;
  padding-left: 1em;
  box-sizing: border-box;
}

#save,
#clear {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 3em;
}

#save:hover,
#clear:hover {
  cursor: pointer;
}

#clear,
#save {
  height: 3em;
  width: auto;
}

.cl_stamp {
  height: 50px;
}

.sticker {
  height: 75px;
}

.template,
.stamp_med {
  height: 100px;
}

.stamp_invert {
  filter: invert();
}

.selected {
  border-color: orangered;
  border-style: solid;
  border-width: 1px;
}

.text {
  top: 140px;
  justify-content: space-around;
}

.color-selector {
  border: none;
  background-color: var(--blue-text);
  border-radius: 5px;
  box-shadow: var(--glow);
}

.cl-color {
  background-color: transparent;
  border: none;
  box-shadow: none;
  opacity: 0;
}

.cl-color {
  cursor: pointer;
}

#cl-color-wrapper {
  position: relative;
}

#cl-color-img {
  height: 120px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 100;
  pointer-events: none;
}

.input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.size-label {
  font-family: var(--Cytone);
  font-size: 0.8em;
  color: var(--red-text);
}

.size-input {
  appearance: none;
  background: black;
  border: 2px solid var(--blue-text);
  box-shadow: var(--glow);
  border-radius: 0.5em;
  /* outline: none; */
}

.size-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 21px;
  height: 21px;
  background: var(--bg-grey-80);
  border-style: solid;
  border-width: 2px;
  border-top-color: rgb(187, 183, 183);
  border-right-color: grey;
  border-bottom-color: grey;
  border-left-color: rgb(187, 183, 183);
  border-radius: 2px;
}

#stamp-ol {
  pointer-events: none;
}

.overlay {
  position: absolute;
  z-index: 100;
  opacity: 0.7;
  padding: 0;
  margin: 0;
  transition: opacity 200ms;
}

.artist {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.track {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#artist,
#track,
#artist-text,
#track-text {
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

#artist-text,
#track-text {
  height: 2em;
  width: 15em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#artist-text input,
#track-text input {
  background-color: transparent;
  border: none;
  width: 10em;
}

#artist-text {
  background-image: url('../assets/bg_images/artisttype.png');
}

#track-text {
  background-image: url('../assets/bg_images/tracktype.png');
}

#artist,
#track {
  background-image: url('../assets/bg_images/fontselectionbox_default.png');
  height: 2em;
  width: 8em;
}

.fonts--wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 3em;
}

.fonts {
  position: absolute;
  top: 3em;
  max-height: 8em;
  max-width: 8em;
  overflow-y: scroll;
  background-color: var(--bg-grey);
  color: black;
  list-style: none;
  z-index: 100;
}

.fonts li {
  padding: 0.4em 0;
}

#mint-input {
  display: flex;
  flex-direction: column;
  border: 1px solid purple;
}

#player-container {
  height: 100vh;
  width: 100vw;
}

/* ------------------- */
/*       Intro         */
/* ------------------- */

#intro-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#intro-video,
#loading-video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  max-height: 100vh;
  max-width: 100%;
}

#intro-video {
  z-index: 5;
}

#loading-video {
  z-index: 1;
  display: none;
}

#intro-button-wrapper {
  position: absolute;
  z-index: 1000;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.8em;
}

.intro-button {
  max-height: 2em;
}

.intro-button:hover {
  cursor: pointer;
}

#enter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 40;
  font-family: 'pix Chicago', sans-serif;
  font-size: 3em;
  color: white;
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 40px blue, 0 0 60px white,
    0 0 80px blue;
  cursor: pointer;
}

/* ------------------- */
/*       Upload        */
/* ------------------- */

.upload-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4em;
  background-color: var(--bg-black);
  position: relative;
  font-family: var(--Cytone);
  color: var(--red-text);
}

.upload-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2em;
}

.upload-inner-wrapper input {
  background-color: #151515;
  width: 50%;
  border: 1px solid var(--blue-text);
  box-shadow: var(--glow);
  border-radius: 0.5em;
  color: inherit;
  font-family: inherit;
  padding: 0.5em;
}

.message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--bg-grey);
  transform: translate(-50%, -50%);
  font-size: 2em;
  height: 30vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#upload-save {
  /* font-family: inherit;
  color: inherit;
  font-size: 2.5em;
  border: none; */
  cursor: pointer;
  height: 3em;
}

/* ------------------- */
/*       Crates        */
/* ------------------- */

/*      grid view      */

.grid-view-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  background-image: url(../assets/crates_ui_assets/cratesbackgroundTILE.png);
  background-size: contain;
  background-repeat: repeat;
  width: 100vw;
  max-width: 100%;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  row-gap: 2em;
  overflow: scroll;
  margin: 3em 0;
}

.dubplate-grid-view {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: var(--blue-text);
}

.dubplate-grid-view img {
  max-width: 200px;
}

.dubplate-grid-view-cover {
  cursor: pointer;
}

.dubplate-grid-audio-player,
.dubplate-grid-audio-player-large,
.dubplate-grid-view-buy {
  display: flex;
  align-items: center;
}

/* audio player  */

.dubplate-grid-audio-player {
  margin-top: 0.3em;
  width: 75%;
  justify-content: center;
}

img.audio-player-play-button,
.dubplate-grid-view-buy img {
  height: 1.6em;
  width: auto;
  cursor: pointer;
}

.audio-player-timeline-wrapper,
.audio-player-timeline-wrapper-large {
  position: relative;
}

.audio-player-timeline-bg {
  height: 0.8em;
  width: auto;
}

.timeline {
  position: absolute;
  top: 0.3em;
  left: 0;
  width: 96%;
  -webkit-appearance: none;
  background-color: transparent;
  background-size: 0% 100%;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.2em;
  height: 1.2em;
  background-image: url('../assets/crates_ui_assets/audioplayerindicator_sizedforpopup.png');
  background-size: contain;
}

/* large audio player  */

.dubplate-grid-audio-player-large {
  width: 100%;
  justify-content: flex-start;
  gap: 1em;
}

img.audio-player-play-button-large {
  height: 3em;
  cursor: pointer;
}

.audio-player-timeline-bg-large {
  height: 1.5em;
}

.timeline-large {
  position: absolute;
  top: 0.25em;
  left: 0.3em;
  width: 95%;
  -webkit-appearance: none;
  background-color: transparent;
  background-size: 0% 100%;
}

.timeline-large::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.9em;
  height: 1.9em;
  background-image: url('../assets/crates_ui_assets/audioplayerindicator_sizedforpopup.png');
  background-size: contain;
}

/*   -------    */

.dubplate-grid-view-buy {
  width: 60%;
  font-size: 0.8em;
  justify-content: flex-end;
  gap: 0.3em;
}

.dubplate-grid-view-buy img {
  cursor: pointer;
}

.dubplate-grid-view__single-wrapper {
  position: fixed;
  top: 5vh;
  left: 10vw;
  background-color: rgba(128, 128, 128, 0.8);
  border: 1px solid white;
  box-shadow: 0 0 3px white inset;
  z-index: 10000;
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 1.5em;
}

.dubplate-grid-view__single-cover {
  width: 45%;
}

.dubplate-grid-view__single-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 45%;
  height: 75%;
}

.dubplate-grid-view__single-info span {
  color: var(--red-text);
}

.grid-view-single-buy {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  height: 3em;
  cursor: pointer;
}

.grid-view-modal-close {
  top: 0.5em;
  right: 0.5em;
  height: 2em;
  cursor: pointer;
}

/*        3D view       */

#crates {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.crates-content-wrapper {
  height: 100%;
  width: 100vw;
  display: flex;
}

.crates-controls-wrapper,
.canvas-wrapper {
  width: 50%;
  height: 100%;
  flex-grow: 1;
}

.crates-controls-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(213, 211, 211);
  box-sizing: border-box;
}

/* .crates-border,
.color-selector,
#size-input,
#size-input::-webkit-slider-thumb,
.text-color,
#centerlabel,
.upload-wrapper,
.layer-selector div {
  border-style: solid;
  border-width: 3px;
  border-top-color: rgb(251, 250, 250);
  border-right-color: gray;
  border-bottom-color: rgb(56, 30, 30);
  border-left-color: rgb(226, 225, 225);
  box-sizing: border-box;
} */

/* .crates-border-inner,
.fonts {
  border-style: solid;
  border-width: 3px;
  border-top-color: rgb(109, 108, 108);
  border-right-color: rgb(226, 225, 225);
  border-bottom-color: rgb(251, 250, 250);
  border-left-color: gray;
} */

.controls-top-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 1em 0;
  background-color: var(--bg-grey);
}

.h1-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.h1-wrapper h1 {
  color: black;
  margin: 0;
  padding: 0.1em 0.5em 0.2em 0.5em;
  margin-bottom: 0.5em;
}

.controls-top-inner-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}

.track-info {
  font-size: 2em;
  width: 90%;
  display: flex;
  justify-content: center;
  column-gap: 0.5em;
  background-color: black;
  color: green;
  padding: 0.5em;
}

.button-wrapper button {
  background-color: rgb(213, 211, 211);
  color: black;
  font-family: monospace;
}

.button-wrapper button:active {
  background-color: grey;
  color: white;
}

.controls-bottom-wrapper {
  flex-grow: 1;
  width: 100%;
  max-height: 70%;
  padding: 1em;
  box-sizing: border-box;
  background-color: var(--bg-grey);
}

.playlist-wrapper {
  flex-grow: 1;
  max-height: 70%;
  padding: 1em;
  box-sizing: border-box;
  background-color: black;
  color: green;
  overflow-y: scroll;
}

/* ------------------- */
/*        Utility      */
/* ------------------- */

/*        position        */

.absolute {
  position: absolute;
}

/*        fonts        */

.fs-100 {
  font-size: 1em;
}

.cytone {
  font-family: var(--Cytone);
}

.ff-0 {
  font-family: 'AddCityboy', sans-serif;
}

.ff-1 {
  font-family: 'Art Greco', sans-serif;
}

.ff-2 {
  font-family: 'CapitalisTypOasis', sans-serif;
}

.ff-3 {
  font-family: 'Argos George Contour', sans-serif;
}

.ff-4 {
  font-family: 'Eat your heart out', sans-serif;
}

.ff-5 {
  font-family: 'diel-Regular', sans-serif;
}

.ff-6 {
  font-family: 'ExtraBlur', sans-serif;
}

.ff-7 {
  font-family: 'Emilio 20', sans-serif;
}

.ff-8 {
  font-family: 'El&Font Bubble', sans-serif;
}

.ff-9 {
  font-family: 'KleinsThreePixel', sans-serif;
}

.ff-10 {
  font-family: 'wassimo graffiti', sans-serif;
}

.ff-11 {
  font-family: 'Fat Wandals PERSONAL USE', sans-serif;
}

.ff-12 {
  font-family: 'Grid Fracture', sans-serif;
}

.ff-13 {
  font-family: 'Gas Mask Warriors', sans-serif;
}

.ff-14 {
  font-family: 'KleinsThreeFS', sans-serif;
}

.ff-15 {
  font-family: 'Mionta', sans-serif;
}

.ff-16 {
  font-family: 'Mainstream PERSONAL USE ONLY', sans-serif;
}

.ff-17 {
  font-family: 'Movie Poster Personal Use', sans-serif;
}

.ff-18 {
  font-family: 'Olde English', sans-serif;
}

.ff-19 {
  font-family: 'Opiated BRK', sans-serif;
}

.ff-20 {
  font-family: 'OptimusPrinceps', sans-serif;
}

.ff-21 {
  font-family: 'RaseBasic', sans-serif;
}

.ff-22 {
  font-family: 'Spire Alt', sans-serif;
}

.ff-23 {
  font-family: 'row-Regular', sans-serif;
}

.ff-24 {
  font-family: 'SANTOS DUMONT', sans-serif;
}

.ff-25 {
  font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}

.ff-26 {
  font-family: 'Sans Poster Bold JL', sans-serif;
}

.ff-27 {
  font-family: 'Plasmatica Open', sans-serif;
}

.ff-28 {
  font-family: 'Univox', sans-serif;
}

.ff-29 {
  font-family: 'Spoken PERSONAL USE ONLY', sans-serif;
}

.ff-30 {
  font-family: 'Zimbra', sans-serif;
}

.ff-31 {
  font-family: 'SPEW', sans-serif;
}

.ff-32 {
  font-family: 'Thorne Shaded', sans-serif;
}
